/* Phones only (<576px) */
@media (max-width: 575.98px) {
    header input{
        margin: 0;
        width: 100% !important;

    }

  
}
@media (min-width: 576px) and (max-width: 767.98px ) { 

  
}

/* Tablets and up (≥768px) */
@media (min-width: 768px) {

  
}

/* Desktops and up (≥992px) */
@media (min-width: 992px) {

}

